<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Account Update Page</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   
   <body>
   
   <div class="divplayer">
   
    <form th:action="@{/update}"  th:object="${user}" method="POST">
    
   <table>
                        <tr>
                            <td colspan="3">
                                    <h2>3. Account Update Screen</h2>
                            </td>
                        </tr>
                        <tr height="10"><td></td></tr>
                        <tr>
                           
                                <td>  
                        <label for="name">Name </label>
                    </td> 
                    <td ></td>
                    <td > 
                   
                    <input type="text" th:field="*{firstName}" value="${user.firstName}" required="true" autofocus="autofocus" /> 
                </td> 
            </tr>
            <tr height="10"><td></td></tr>
            <tr>
                    <td>   
                    <label for="email">Email </label>
                </td> 
                <td ></td>
                <td >
                    <input type="email" th:field="*{email}" value="${user.email}" required="true" autofocus="autofocus" /> 
                    </td>
            </tr>
    
                        <tr height="10"><td></td></tr>
                        <tr>
                           
                         <td>  
                        <label for="username">UserName </label>
                        </td> 
                        <td ></td>
                        <td > 
                       
                        <input type="text" th:field="*{userName}" value="${user.userName}" required="true" autofocus="autofocus" />
                    </td> 
                    </tr>
                    <tr height="10"><td></td></tr>
                    <tr>
                            <td>  
                        <label for="password">Password </label>
                    </td> 
                    <td></td>
                    <td> 
                       
                        <input type="password" th:field="*{password}"  required="true" autofocus="autofocus" />
                    </td> 
                </tr>
                <tr height="10"><td></td></tr>
                    <tr>
                            <td>  
                        <label for="repassword">Re-Enter Password </label>
                    </td> 
                    <td></td>
                    <td> 
                        <input type="password" th:field="*{rePassword}"  required="true" autofocus="autofocus" />
                         <input type="hidden" th:field="*{id}" value="${user.id}"  autofocus="autofocus" />
                    </td> 
                </tr>
                <tr height="10"><td></td></tr>
                <tr>
                        <td>  
                         <img th:src="@{/captcha}" id="captchaimage"/>
                    </td> 
                    <td>
                     <a href="javascript:;"
						title="change captcha text"
						onclick="document.getElementById('captchaimage').src = 'captcha?' + Math.random();  return false">
							<img  th:src="@{https://cdn3.iconfinder.com/data/icons/flat-icons-web/40/Refresh-48.png}" />
					</a>
                    </td>
                    <td> 
                       <input type="text" th:field="*{captcha}" placeholder="Enter Captcha" name="captcha" required="true" />
                    </td> 
                </tr>
                <tr height="10"><td></td></tr>
                <tr>
                    <td></td>
                        <td>  
                        <button  type="submit" class="buttonControl">Update</button>
                        
                        </td>
                        
                        </tr>
                </table>
                </form>
           </div>
           
   </body>
   </html>